@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

*::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

h2,h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.logo{
    padding: 2rem 5% 4rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 9rem;
}

.btn-free{
    font-size: 0.8rem;
    padding: 0.4rem 1rem;
    color: deeppink;
    border: 1px solid deeppink;
    border-radius: 1rem;
    background-color: transparent;
}

.btn-free:hover{
    cursor: pointer;
    background-color: black;
    border: none;
}

.article-1{
    padding: 2rem 10%;
    text-align: center;
}
.article-1 h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.article-1 p{
    padding: 5%;
}
.get-started{
    padding: 0.6rem 2rem;
    margin: 2rem 0 4rem 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border: none;
    color: aliceblue;
    background-color: deeppink;
    border-radius: 1.5rem;
    transition-duration: 0.7s;
}
.get-started:hover{
    cursor: pointer;
}

.intro-img{
    margin: 0;
}
.intro-img img{
    position: relative;
    width: 100%;
    height: auto;
}

.article-2{
    display: flex;
    justify-content: space-around;
    padding-bottom: 6rem;
}
.communities, .messages{
    margin: 2rem 0 10rem 0;
}
.communities img, .messages img{
    height: 2rem;
    width: auto;
}
.communities h1, .messages h1{
    font-size: 4rem;
    margin: 0;
}
.communities p, .messages p{
    margin: 0;
    text-align: center;
    color: #98a2a8;
}

.article-3 .grow, .article-3 .users{
    position: relative;
    display: flex;
    align-items: center;
}
.grow, .users{
    flex-direction: row-reverse;
    padding: 5%;
    background-color: #F6FBFF;
}

.bg-section-top{
    bottom: 99%;
    background: url(./images/bg-section-top-desktop-1.svg);
}
.bg-section-bottom{
    top: 99%;
    background: url(./images/bg-section-bottom-desktop-1.svg);
}
.bg-section-top,
.bg-section-bottom,
.bg-footer-top,
.bg-footer-bottom{
    position: absolute;
    left: 0;
    width: 100%;
    height: 26%;
    background-repeat: no-repeat;
    background-size: cover;
}
.grow-img, .users-img{
    margin-left: 0;
    margin-right: 0;
}
.grow-img img, .users-img img{
    position: relative;
    width: 100%;
    height: auto;
}

.flowing{
    position: relative;
    display: flex;
    align-items: center;
    padding: 16rem 5%;
}
.flowing-img{
    margin-left: 0;
    margin-right: 0;
}

.flowing-img img{
    position: relative;
    width: 100%;
    height: auto;
}
.flowing-text{
    padding-left: 10%;
}

.build-community{
    padding: 12rem 10% 16rem 10%;
    text-align: center;
}

.btn-3{
    margin-top: 2rem;
}

.company-info{
    position: relative;
    padding: 5%;
    display: flex;
    flex-direction: row;
    background-color: #00252E;
    color: aliceblue;
}

.bg-footer-top{
    position: absolute;
    bottom: 99%;
    left: 0;
    width: 100%;
    height: 42%;
    background: url(./images/bg-footer-top-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact{
    padding-right: 10%;
}

.footer-logo{
    margin: 0 0 1rem 0;
}

.footer-logo img{
    height: 2rem;
    width: auto;
    filter: brightness(0) invert(1);
}

.contact-info{
    list-style-type: none;
    padding: 0;
    margin-top: 2rem;
}
.contact-info .phone, .contact-info .mail{
    margin: 0;
    display: flex;
    align-items: center;
}
.contact-info .phone p, .contact-info .mail p{
    margin-left: 1rem;
}

.social{
    display: flex;
    gap: 1rem;
}

.newsletter{
    padding-left: 10%;
}
.newsletter-heading{
    margin-top: 0;
}
.newsletter-para{
    padding-right: 30%;
}

.subscribe-form{
    display: flex;
    flex-direction: row;
}
.input-email, .btn-subscribe{
    padding: 0.8rem 0;
    margin-top: 1rem;
    border: none;
    border-radius: 6px;
}
.input-email{
    width: 70%;
    height: 1.5rem;
}
.btn-subscribe{
    width: 36%;
    margin-left: 2%;
    font-weight: 600;
    background-color: deeppink;
    color: aliceblue;
}
.btn-subscribe:hover{
    cursor: pointer;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 360px) {
    .logo{
        padding: 0;
        margin-left: 1rem;
    }
    .article-2{
        padding-bottom: 4rem;
    }
    .communities, .messages{
        margin: 5rem 0 5rem 0;
    }
    
    .communities h1, .messages h1{
        font-size: 2.5rem;
    }
    .bg-section-top{
        bottom: 100%;
        background: url(./images/bg-section-top-mobile-1.svg);
        background-size: cover;
    }
    .grow, .users{
        flex-direction: column;
    }
    .flowing{
        flex-direction: column;
        padding: 7rem 5%;
    }
    .company-info{
        flex-direction: column;
    }
    .bg-footer-top{
        bottom: 99%;
        background: url(./images/bg-footer-top-mobile.svg);
        background-size: cover;
    }
    .contact{
        padding-right: 0;
        align-items: center;
    }
    .social{
        justify-content: space-around;
        padding-bottom: 2rem;
    }
    .subscribe-form{
        flex-direction: column;
        align-items: center;
    }
    .input-email{
        width: 100%;
    }
    .btn-subscribe{
        width: 80%;
    }
}
